<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @chart.price %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @chart.start_at %>
</p>

<%= link_to 'Edit', edit_chart_path(@chart) %> |
<%= link_to 'Back', charts_path %>
